body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    /* margin: 0;
    padding: 0;
    background-color: #f0f0f0; 
    background-image: url('https://www.transparenttextures.com/patterns/white-linen.png'); 
    font-family: Arial, sans-serif;  */
    background-image: url(../public/Images/pexels-prithiviraj-13030163.jpg); 
    background-size: cover; 
    background-position: center; 
    font-family: Arial, sans-serif; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
